
:root {
    --font-family: 'Roboto', sans-serif;

    --border-radius-sm: 0.5em;
    --border-radius-md: 1em;
    --border-radius-lg: 2em;
    --border-radius-pill: 9999px;

}

@media (prefers-color-scheme: light) {
    :root {
        --text-50: rgb(245, 240, 240);
        --text-100: rgb(235, 224, 224);
        --text-200: rgb(214, 194, 194);
        --text-300: rgb(194, 163, 163);
        --text-400: rgb(173, 133, 133);
        --text-500: rgb(153, 102, 102);
        --text-600: rgb(122, 82, 82);
        --text-700: rgb(92, 61, 61);
        --text-800: rgb(61, 41, 41);
        --text-900: rgb(31, 20, 20);
        --text-950: rgb(15, 10, 10);

        --background-50: rgb(245, 240, 240);
        --background-100: rgb(235, 224, 224);
        --background-200: rgb(214, 194, 194);
        --background-300: rgb(194, 163, 163);
        --background-400: rgb(173, 133, 133);
        --background-500: rgb(153, 102, 102);
        --background-600: rgb(122, 82, 82);
        --background-700: rgb(92, 61, 61);
        --background-800: rgb(61, 41, 41);
        --background-900: rgb(31, 20, 20);
        --background-950: rgb(15, 10, 10);

        --primary-50: rgb(245, 240, 240);
        --primary-100: rgb(234, 225, 225);
        --primary-200: rgb(213, 195, 195);
        --primary-300: rgb(192, 165, 165);
        --primary-400: rgb(171, 135, 135);
        --primary-500: rgb(150, 105, 105);
        --primary-600: rgb(120, 84, 84);
        --primary-700: rgb(90, 63, 63);
        --primary-800: rgb(60, 42, 42);
        --primary-900: rgb(30, 21, 21);
        --primary-950: rgb(15, 10, 10);

        --secondary-50: rgb(240, 245, 242);
        --secondary-100: rgb(225, 234, 230);
        --secondary-200: rgb(195, 213, 205);
        --secondary-300: rgb(165, 192, 180);
        --secondary-400: rgb(135, 171, 155);
        --secondary-500: rgb(105, 150, 130);
        --secondary-600: rgb(84, 120, 104);
        --secondary-700: rgb(63, 90, 78);
        --secondary-800: rgb(42, 60, 52);
        --secondary-900: rgb(21, 30, 26);
        --secondary-950: rgb(10, 15, 13);

        --accent-50: rgb(234, 250, 250);
        --accent-100: rgb(214, 245, 245);
        --accent-200: rgb(173, 234, 235);
        --accent-300: rgb(132, 224, 225);
        --accent-400: rgb(91, 213, 215);
        --accent-500: rgb(50, 203, 205);
        --accent-600: rgb(40, 162, 164);
        --accent-700: rgb(30, 122, 123);
        --accent-800: rgb(20, 81, 82);
        --accent-900: rgb(10, 41, 41);
        --accent-950: rgb(5, 20, 21);

    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text-50: rgb(15, 10, 10);
        --text-100: rgb(30, 21, 21);
        --text-200: rgb(61, 41, 41);
        --text-300: rgb(91, 62, 62);
        --text-400: rgb(121, 83, 83);
        --text-500: rgb(152, 103, 103);
        --text-600: rgb(172, 134, 134);
        --text-700: rgb(193, 164, 164);
        --text-800: rgb(214, 194, 194);
        --text-900: rgb(234, 225, 225);
        --text-950: rgb(245, 240, 240);

        --background-50: rgb(15, 10, 10);
        --background-100: rgb(31, 20, 20);
        --background-200: rgb(61, 41, 41);
        --background-300: rgb(92, 61, 61);
        --background-400: rgb(122, 82, 82);
        --background-500: rgb(153, 102, 102);
        --background-600: rgb(173, 133, 133);
        --background-700: rgb(194, 163, 163);
        --background-800: rgb(214, 194, 194);
        --background-900: rgb(235, 224, 224);
        --background-950: rgb(245, 240, 240);

        --primary-50: rgb(15, 10, 10);
        --primary-100: rgb(30, 21, 21);
        --primary-200: rgb(60, 42, 42);
        --primary-300: rgb(90, 63, 63);
        --primary-400: rgb(120, 84, 84);
        --primary-500: rgb(150, 105, 105);
        --primary-600: rgb(171, 135, 135);
        --primary-700: rgb(192, 165, 165);
        --primary-800: rgb(213, 195, 195);
        --primary-900: rgb(234, 225, 225);
        --primary-950: rgb(245, 240, 240);

        --secondary-50: rgb(10, 15, 13);
        --secondary-100: rgb(21, 30, 26);
        --secondary-200: rgb(42, 60, 52);
        --secondary-300: rgb(63, 90, 78);
        --secondary-400: rgb(84, 120, 104);
        --secondary-500: rgb(105, 150, 130);
        --secondary-600: rgb(135, 171, 155);
        --secondary-700: rgb(165, 192, 180);
        --secondary-800: rgb(195, 213, 205);
        --secondary-900: rgb(225, 234, 230);
        --secondary-950: rgb(240, 245, 242);

        --accent-50: rgb(5, 20, 21);
        --accent-100: rgb(10, 41, 41);
        --accent-200: rgb(20, 81, 82);
        --accent-300: rgb(30, 122, 123);
        --accent-400: rgb(40, 162, 164);
        --accent-500: rgb(50, 203, 205);
        --accent-600: rgb(91, 213, 215);
        --accent-700: rgb(132, 224, 225);
        --accent-800: rgb(173, 234, 235);
        --accent-900: rgb(214, 245, 245);
        --accent-950: rgb(234, 250, 250);

    }
}
